
html{
    height: 100%;
    width: 100%;
    background: rgb(183,238,174);
    background: radial-gradient(circle, rgb(75, 2, 94) 0%, rgb(40, 85, 143) 100%);
}

h1{
    margin-left: 40%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

/* Container for the whole calculator*/
/* CAdded a linear radiant to give the borders a colorful style */
.calculator{
    margin-left: 35%;
    margin-top: 5%;
    width: 600px;
    height: 900px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(to top,#39eb3e,#d10d0d,#e9e513)1 ;
    overflow: hidden;
}

.screen{
    width: 600px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

#display{
   width: 100%;
   border-color: transparent;
   text-align: right;
   font-size: 40px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Style for the rows of the calculator*/
.row{
    width: 600px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Code for the styles of different Buttons*/
.greenButton{
    background-color: #73E177;
    width: 25%;
    height: 100%;
    text-align:center;
    cursor:pointer;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: thin;
}

.greenButton:hover{
    background-color: #07df0e;
}

/* Code for the buttons to make a short cliked animation*/
.greenButton:active {
    background-color: #73E177;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.lgButton{
    background-color: #6E786E;
    width: 25%;
    height: 100%;
    text-align: center;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: thin;
    cursor:pointer;
}

.lgButton:hover{
    background-color: #07df0e;
}

/* Code for the buttons */
.lgButton:active {
    background-color: #73E177;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.dgButton{
    background-color: #363D35;
    width: 25%;
    height: 100%;
    text-align: center;
    cursor:pointer;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: thin;
}

.dgButton:hover{
    background-color: #07df0e;
}

.dgButton:active {
    background-color: #73E177;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.zeroButton{
    background-color: #6E786E;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: thin;
    cursor:pointer;
}

.zeroButton:hover{
    background-color: #07df0e;
}

.zeroButton:active {
    background-color: #73E177;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.button{
    line-height: 150px;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

